<div class="article-body article-body__container">
  <section>
    <p class="article-body__intro">{{articleIntro}}</p>
    <p class="article-body__para">{{para1}}</p>
  </section>
  <section>

    <h2>Chart Content 1</h2>
    <img class="chart"
         src="../../../assets/chart1.jpg"
         alt="">

    <h2>Chart Content 2</h2>
    <img class="chart"
         src="../../../assets/chart2.jpg"
         alt="">
    <h2>Image Section 1</h2>
    <img class="chart"
         src="../../../assets/image1.jpg"
         alt="">
    <h2>Image Section 2</h2>
    <img class="chart"
         src="../../../assets/image2.jpg"
         alt="">

    <h2>Summary</h2>
    <p class="article-body__para">{{para2}}</p>

  </section>
</div>
