<div class="article-body article-body__container">
  <section id="section1">
    <p class="article-body__intro"
       [innerHTML]="articleIntro"></p>
    <p class="article-body__para">{{para1}}</p>
  </section>

  <section id="section2">
    <h2>Chart Content 1</h2>
    <figure>
      <img class="chart img-fluid"
           src="../../../assets/chart1.jpg"
           alt="">
      <figcaption>Source: unsplash.com</figcaption>
    </figure>
  </section>

  <section id="section3">
    <h2>Image Section 1</h2>
    <figure>
      <img class="chart img-fluid"
           src="../../../assets/image4.jpg"
           alt="">
      <figcaption>Source: unsplash.com</figcaption>
    </figure>
  </section>

  <section id="section4">
    <h2>Content section 1</h2>
    <p class="article-body__para">{{para2}}</p>
  </section>

  <section id="section5">
    <h2>Chart Content 2</h2>
    <figure>
      <img class="chart img-fluid"
           src="../../../assets/chart2.jpg"
           alt="">
      <figcaption>Source: unsplash.com</figcaption>
    </figure>
  </section>

  <section id="section6">
    <h2>Image Section 2</h2>
    <figure>
      <img class="chart img-fluid"
           src="../../../assets/image1.jpg"
           alt="">
      <figcaption>Source: unsplash.com</figcaption>
    </figure>
  </section>

  <section id="section7">
    <h2>Image Section 3</h2>
    <figure>
      <img class="chart img-fluid"
           src="../../../assets/image2.jpg"
           alt="">
      <figcaption>Source: unsplash.com</figcaption>
    </figure>
  </section>

  <section id="section8">
    <h2>Content section 2</h2>
    <p class="article-body__para">{{para1}}</p>
  </section>

  <section id="section9">
    <h2>Image Section 4</h2>
    <figure> <img class="chart img-fluid"
           src="../../../assets/image3.jpg"
           alt="">
      <figcaption>Source: unsplash.com</figcaption>
    </figure>
  </section>

  <section id="section{{10+i}}"
           *ngFor="let item of imageList; let i=index;">
    <h2>Image Section {{item.id}}</h2>
    <figure> <img class="chart img-fluid"
           [src]="item.src"
           alt="">
      <figcaption>{{item.caption}}</figcaption>
    </figure>
  </section>

  <section id="section{{10+imageList.length}}">
    <h2>Summary</h2>
    <p class="article-body__para">{{para2}}</p>
  </section>

  <!-- <video controls>
    <source src="https://res.cloudinary.com/demo/video/upload/c_fill,g_auto:faces,h_150,w_150/r_20/v1/docs/walking_talking.webm"
            type="video/webm">
    <source src="https://res.cloudinary.com/demo/video/upload/c_fill,g_auto:faces,h_150,w_150/r_20/v1/docs/walking_talking.mp4"
            type="video/mp4">
    <source src="https://res.cloudinary.com/demo/video/upload/c_fill,g_auto:faces,h_150,w_150/r_20/v1/docs/walking_talking.ogv"
            type="video/ogg">
  </video> -->
</div>
