<div class="article-banner ">
    <div class="container article-banner__container">
        <div class="article-banner__eyebrow">
            <span>ASIA PACIFIC INSIGHT</span>
        </div>
        <div class="article-banner__meta">
            <span>China</span>
        </div>
        <div class="article-banner__headline">
            <span>Going for Growth</span>
        </div>
        <div class="article-banner__date">
            <span>December 13, 2022</span>
        </div>
        <div class="article-banner__authors">
            <span>Chetan Ahya, Robin Xing, Jonathan Garner, Laura Wang, Daniel K Blake, Min Dai & 11 more...</span>
        </div>
    </div>
</div>
