.article-banner {
  background-image: url("../../../assets/banner2.jpg");
  min-height: 450px;
  background-position: center;
  background-size: cover;
  .banner-wash {
    background: rgba(0, 0, 0, 0.4);
  }
  .banner-wash,
  .banner-wash::before {
    position: absolute;
    height: 450px;
    width: 100%;
    display: block;
    left: 0;
  }

  &__container {
    width: 888px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    z-index: 8;
    position: relative;
  }
  &__eyebrow {
    font-size: 16px;
    font-family: "Karla-Bold";
    border-top: 2px solid #fff;
    margin-top: 70px;
  }
  &__meta {
    font-size: 13px;
    font-weight: bold;
    margin: 15px 0;
  }
  &__headline {
    font-size: 35px;
    margin: 15px 0;
  }
  &__authors {
    span {
      text-decoration: underline;
    }
    font-size: 13px;
    margin: 15px 0;
  }
}
