@font-face {
  font-family: "Karla-bold";
  src: url("../assets/fonts/karla/Karla-Bold.ttf");
}
@font-face {
  font-family: "Karla-Bold-italic";
  src: url("../assets/fonts/karla/Karla-BoldItalic.ttf");
}
@font-face {
  font-family: "Karla-sBold";
  src: url("../assets/fonts/karla/Karla-SemiBold.ttf");
}
@font-face {
  font-family: "Karla-Light";
  src: url("../assets/fonts/karla/Karla-Light.ttf");
}
@font-face {
  font-family: "Karla-Medium";
  src: url("../assets/fonts/karla/Karla-Medium.ttf");
}
@font-face {
  font-family: "KarlaRegular";
  src: url("../assets/fonts/karla/Karla-Regular.ttf");
}
