<div class="home-page home-page__container">
  <section class="banner">
    <banner-component></banner-component>
  </section>
  <section>
    <div class="container">
      <div class="row justify-content-center g-2">
        <div class="col col-2">
          <contents-component (contentClickEvent)="contentClick($event)"></contents-component>
        </div>
        <div class="col col-8">
          <article-data-component [selectedSection]="selectedSection"></article-data-component>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </section>
</div>
