.contents {
  &__container {
    padding: 20px 0;
    margin-top: 100px;
  }

  &__header {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
  }
  &__list {
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 15px 10px;
      border-bottom: 1px solid #ccc;
    }
  }
}
